<footer id="footer" class="footer-wrapper">


    <!-- FOOTER 1 -->


    <!-- FOOTER 2 -->



    <div class="absolute-footer dark medium-text-center small-text-center">
        <div class="container clearfix">


            <div class="footer-primary pull-left">
                <div class="copyright-footer">
                    © 2021 Tous droits réservés <strong>Denturologiste Pierre Fréchette</strong> | Réalisation
                    du site Internet par <a href="https://www.kingcommunications.ca" target="blank">King
                        Communications</a> </div>
            </div><!-- .left -->
        </div><!-- .container -->
    </div><!-- .absolute-footer -->
    <a href="#top"
        class="back-to-top button invert plain is-outline hide-for-medium icon circle fixed bottom z-1"
        id="top-link"><i class="icon-angle-up"></i></a>

</footer><!-- .footer-wrapper -->
