<header id="header" class="header has-sticky sticky-jump">
    <div class="header-wrapper">
        <div id="masthead" class="header-main ">
            <div class="header-inner flex-row container logo-left" role="navigation">

                <!-- Logo -->
                <div id="logo" class="flex-col logo">
                    <!-- Header logo -->
                    <a href="/"
                        title="Denturologiste Pierre Fréchette - Retrouvez votre sourire et préservez votre santé"
                        rel="home">
                        <img width="200" height="122"
                            src="{{"/img/Denturologiste-Pierre-Frechette.png"| relURL }}"
                            class="header_logo header-logo" alt="Denturologiste Pierre Fréchette" /><img
                            width="200" height="122"
                            src="{{"/img/Denturologiste-Pierre-Frechette.png"| relURL }}"
                            class="header-logo-dark" alt="Denturologiste Pierre Fréchette" /></a>
                </div>

                <!-- Mobile Left Elements -->
                <div class="flex-col show-for-medium flex-left">
                    <ul class="mobile-nav nav nav-left ">
                    </ul>
                </div>

                <!-- Left Elements -->
                <div class="flex-col hide-for-medium flex-left
    flex-grow">
                    <ul class="header-nav header-nav-main nav nav-left  nav-divided nav-uppercase">
                    </ul>
                </div>

                <!-- Right Elements -->
                <div class="flex-col hide-for-medium flex-right">
                    <ul class="header-nav header-nav-main nav nav-right  nav-divided nav-uppercase">
                        <li id="menu-item-8"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-4 current_page_item active  menu-item-8">
                            <a href="https://www.denturologistefrechette.ca/" class="nav-top-link">Accueil</a>
                        </li>
                        <li id="menu-item-9"
                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-9"><a
                                href="#a-propos" class="nav-top-link">À propos</a></li>
                        <li id="menu-item-10"
                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-10"><a
                                href="#services" class="nav-top-link">Nos services</a></li>
                        <li id="menu-item-11"
                            class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-11"><a
                                href="#contact" class="nav-top-link">Nous joindre</a></li>
                        <li class="html custom html_topbar_left"><a href="tel:4502266813"
                                style="font-size: 110%">450-226-6813</a></li>
                    </ul>
                </div>

                <!-- Mobile Right Elements -->
                <div class="flex-col show-for-medium flex-right">
                    <ul class="mobile-nav nav nav-right ">
                        <li class="nav-icon has-icon">
                            <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay"
                                data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">

                                <i class="icon-menu"></i>
                            </a>
                        </li>
                    </ul>
                </div>

            </div><!-- .header-inner -->

            <!-- Header divider -->
            <div class="container">
                <div class="top-divider full-width"></div>
            </div>
        </div><!-- .header-main -->
        <div class="header-bg-container fill">
            <div class="header-bg-image fill"></div>
            <div class="header-bg-color fill"></div>
        </div><!-- .header-bg-container -->
    </div><!-- header-wrapper-->
</header>
